@import url("//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
  font-weight: 377;
}
@font-face {
  font-family: "Plus Jakarta Sans-bold";
  src: url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
  font-weight: 610;
}
@font-face {
  font-family: "Plus Jakarta Sans-italic";
  src: url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf");
  font-weight: 377;
}
html {
  line-height: 1;
}
:root {
  --c-blue: rgba(2, 8, 34, 1);
  --c-white: rgba(233, 233, 233, 1);
  --c-gold: rgba(233, 233, 89, 1);
  --c-black: rgba(1, 1, 1, 1);
  --pad-side: max(21px);
  --pad-vertical: max(34px);
}

a {
  color: var(--c-white);
  text-decoration: none;
  transition: all 0.8s;
}
ol,
ul {
  list-style: none;
}
._link {
  text-decoration: underline;
}
body {
  background: var(--c-blue);
  color: var(--c-white);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 13px;
  transition: all 0.8s;
}
.content-frame::-webkit-scrollbar {
  display: none;
}
.content-frame {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.site-frame {
  position: absolute;
  left: 13px;
  right: 13px;
  top: 8px;
  bottom: 8px;
  border: 1px solid var(--c-white);
  overflow: auto;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 426px) {
  .site-frame {
    left: var(--pad-side);
    right: var(--pad-side);
    top: var(--pad-vertical);
    bottom: var(--pad-vertical);
  }
}

.header {
  position: relative;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 8px;
  margin-right: 8px;
  pointer-events: none;
}
.header-title {
  font-weight: 233;
}
span.c2 {
  color: var(--c-gold);
  transition: all 0.8s;
  text-shadow: var(--c-gold) 1px 0 21px;
}
.header-label {
  margin-top: 5px;
}
.header-nav {
  margin-top: 13px;
  pointer-events: auto;
  width: 89px;
}
.header-nav ol {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.header-nav ol li {
  position: relative;
}
.header-nav ol li ._dot {
  position: absolute;
  top: 5px;
  font-size: 8px;
  color: var(--c-gold);
  opacity: 0;
  transition: all 0.8s;
}
.header-nav ol li ._text {
  transition: all 0.8s;
}
.header-nav ol li ._text::before {
  content: "";
  display: block;
}
.header-nav ol li ._text:hover {
  color: var(--c-gold);
  text-shadow: var(--c-gold) 1px 0 5px;
}
.header-nav ol li.is-selected {
  pointer-events: none;
}
.header-nav ol li.is-selected ._dot {
  opacity: 1;
  text-shadow: var(--c-gold) 1px 0 5px;
}
.header-nav ol li.is-selected ._text {
  opacity: 0;
}
@media (min-width: 426px) {
  .header {
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 21px;
    margin-right: 21px;
  }
  .header-title {
    font-size: 34px;
  }
}
@media (min-width: 769px) {
  .header {
    font-size: 16px;
  }
  .header-nav ol {
    row-gap: 13px;
  }
}
@media (min-width: 1024px) {
  .header-label {
    margin-top: 13px;
  }
  .header-nav {
    margin-top: 34px;
  }
}

.main {
  position: relative;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 8px;
  margin-right: 8px;
  border: 1px solid var(--c-white);
}
.content-frame {
  position: relative;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
  border-top: 1px solid var(--c-white);
  border-bottom: 1px solid var(--c-white);
  overflow: scroll;
}
.content {
  position: relative;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 8px;
  margin-right: 8px;
  line-height: 1.3;
}
span.bold {
  font-family: "Plus Jakarta Sans-bold", sans-serif;
}
@media (min-width: 426px) {
  .main {
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 13px;
  }
}
@media (min-width: 769px) {
  .main {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .main {
    position: absolute;
    right: 21px;
    bottom: 13px;
    margin: 0px;
    border: 1px solid var(--c-white);
  }
  .home-frame {
    height: 322px;
    width: 514px;
  }
  .resume-frame {
    top: 13px;
    width: 514px;
  }
  .projects-frame {
    top: 13px;
    width: 514px;
  }
  .content-frame {
    position: absolute;
    top: 3px;
    bottom: 3px;
    overflow: scroll;
  }
  .content {
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 13px;
    margin-right: 13px;
  }
}
@media (min-width: 1440px) {
  .projects-frame {
    top: 13px;
    width: 832px;
  }
}

.footer {
  position: relative;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 8px;
  margin-right: 8px;
}
.get-in-touch-text {
  margin-bottom: 5px;
  pointer-events: auto;
}
.get-in-touch-frame {
  border: 1px solid var(--c-white);
}
.get-in-touch-nav {
  position: relative;
  margin: 8px;
  white-space: nowarap;
  pointer-events: auto;
}
.get-in-touch-nav ol {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.get-in-touch-nav ol li ._text {
  transition: all 0.8s;
}
.get-in-touch-nav ol li ._text::before {
  content: "";
  display: block;
  left: -5px;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
}
.get-in-touch-nav ol li ._text:hover {
  color: var(--c-gold);
  text-shadow: var(--c-gold) 1px 0 5px;
}
@media (min-width: 426px) {
  .footer {
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 13px;
  }
  .get-in-touch-text {
    font-size: 21px;
  }
  span.c4 {
    font-size: 16px;
  }
  .get-in-touch-frame {
    width: 311px;
    border: 1px solid var(--c-white);
  }
  .get-in-touch-nav ol {
    row-gap: 13px;
  }
}
@media (min-width: 769px) {
  .footer {
    font-size: 16px;
  }
  .get-in-touch-nav ol {
    row-gap: 21px;
  }
}
@media (min-width: 1024px) {
  .footer {
    position: absolute;
    left: 21px;
    bottom: 13px;
    margin: 0px;
    pointer-events: none;
  }
}

.toggle {
  background-color: var(--c-white);
  padding: 0.5px;
  color: var(--c-blue);
  cursor: pointer;
  font-size: 13px;

  position: absolute;
  left: 0px;
  top: 55%;
  margin-top: -55px;

  text-align: center;
}
.toggle:hover {
  text-shadow: var(--c-black) 1px 0 5px;
}
@media (min-width: 426px) {
  .toggle {
    padding: 4px;
  }
}
.toggle-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: all 0.8s;
}
.toggle ._theme-1::before {
  content: "L";
}
.toggle ._theme-2::before {
  content: "I";
  text-align: center;
}
.toggle ._theme-3::before {
  content: "G";
}
.toggle ._theme-4::before {
  content: "H";
}
.toggle ._theme-5::before {
  content: "T";
}
.toggle ._theme-6::before {
  content: "\00a0";
}
.toggle ._theme-7::before {
  content: "M";
}
.toggle ._theme-8::before {
  content: "O";
}
.toggle ._theme-9::before {
  content: "D";
}
.toggle ._theme-10::before {
  content: "E";
}

.fa-moon-o:before {
  padding: 1px;
}

.light {
  background-color: var(--c-white);
  color: var(--c-blue);
}
.light .toggle {
  background-color: var(--c-blue);
  color: var(--c-gold);
}
.light .toggle ._theme-1::before {
  content: "D";
}
.light .toggle ._theme-2::before {
  content: "A";
}
.light .toggle ._theme-3::before {
  content: "R";
}
.light .toggle ._theme-4::before {
  content: "K";
}
.light .toggle ._theme-5::before {
  content: "S";
}
.light .toggle ._theme-6::before {
  content: "\00a0";
}
.light .toggle ._theme-7::before {
  content: "M";
}
.light .toggle ._theme-8::before {
  content: "O";
}
.light .toggle ._theme-9::before {
  content: "D";
}
.light .toggle ._theme-10::before {
  content: "E";
}

.light a {
  color: var(--c-blue);
}
.light .toggle:hover {
  text-shadow: var(--c-gold) 2px 0 5px;
}
.light ._light {
  color: var(--c-gold);
}
.light span.c2 {
  color: var(--c-black);
  text-shadow: var(--c-black) 1px 0 21px;
}
.light .site-frame {
  border: 1px solid var(--c-blue);
}
.light .header-nav ol li ._text:hover {
  color: var(--c-black);
  text-shadow: var(--c-blue) 1px 0 5px;
}
.light .header-nav ol li ._dot {
  color: var(--c-black);
  text-shadow: var(--c-black) 1px 0 5px;
}
.light .content-frame {
  border-top: 1px solid var(--c-blue);
  border-bottom: 1px solid var(--c-blue);
}
.light .home-frame {
  border: 1px solid var(--c-blue);
}
.light .resume-frame {
  border: 1px solid var(--c-blue);
}
.light .projects-frame {
  border: 1px solid var(--c-blue);
}
.light .get-in-touch-frame {
  border: 1px solid var(--c-blue);
}
.light .get-in-touch-nav ol li ._text:hover {
  color: var(--c-black);
  text-shadow: var(--c-black) 1px 0 5px;
}
